/* body {
  margin: 0;
  background: linear-gradient(to bottom, #d0e5a9, #bcd89e, #a7cb93, #92be88);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 5px;
}

.box {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: 0;
}

.box-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

svg {
  max-width: 290px;
  max-height: 290px;
}

path {
  stroke: rgb(0, 0, 0);
  fill: rgb(34, 136, 46);
  stroke-width: 6;
  stroke-dasharray: 19000;
  stroke-dashoffset: 19000;
  animation: draw 60s linear forwards;
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.title {
  font-family: "Caveat", cursive;
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 3%;
}

.prg {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 22px;
  max-width: 210px;
  margin: auto auto;
}

.vitok {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 26px;
  margin: 0;
  position: absolute;
  bottom: 15%;
  right: 20%;
} */
